body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    background-color: #2b3137;
    height: 100vh;
}

nav {
    width: 100%;
    height: 50px;
}

.logo {
    display: inline;
}

.logo img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 20px 0px 0px 20px;
}

.navigation {
    display: inline;
    float: left;
}

.navigation ul {
    line-height: 50px;
    padding-left: 10px;
}

.navigation ul li {
    display: inline;
    margin: 10px;
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.sign-in-sign-up {
    float: right;
    display: inline;
    line-height: aa70px;
}

.sign-in-sign-up .active {
    line-height: 50px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-in-sign-up a {
    line-height: 50px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-in-sign-up input {
    background-color: #585b5e;
    color: rgb(233, 233, 233);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    margin-top: 25px;
}

.sign-in-sign-up input:focus {
    outline: none;
}

/* desktop Navigation styling have been completed */

.container {
    width: 100%;
    text-align: center;
    text-align: left;
    margin-top: 0px;
    height: auto;
    margin: 50px;
    min-width: 600px;
}

.paragraph {
    width: 500px;

    height: 500px;
    display: inline;
    float: left;
}

.paragraph h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 60px;
    font-weight: 500;
}

.paragraph p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 23px;
    color: gray;
}

.paragraph p a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border-bottom: 1px solid rgb(60, 60, 60);
}

.paragraph p a:hover {
    border-bottom: 1px solid white;
}

.for-form {
    width: 400px;
    border: 2px solid white;
    height: 500px;
    display: inline;
    float: left;
    text-align: left;
    margin-left: 4%;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    /* text-align: center; */
}

.for-form form {
    border: 1px solid white;
    width: 350px;
    height: 400px;
    margin: 50px auto;
    background-color: rgb(248, 248, 248);
}

.for-form form input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(248, 248, 248);
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    padding-left: 15px;
}

.for-form form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.for-form form p {
    font-size: 12px;
    color: gray;
}

.for-form form p a {
    color: rgb(19, 104, 232);
    text-decoration: none;
}

.for-form form button {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #2ebc4f;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #2ebc4f;
    color: white;
}

.for-form form button:active {
    outline: none;
}